h1 {
    text-align: center;
}
.order{
    text-align: center;
    
    
}
.order p{
    display: inline-block;
    padding: 10px;
    border: solid 2px rgb(20, 100, 200);
    border-radius: 10px;
    background-color: aliceblue;
}
.order p:hover{
    background-color: rgb(20, 100, 200);
}